.arrow-container {
  /* Variables de la flecha */
  --arrow-gap: 5px;
  --arrow-container-width: 30px;
  --arrow-width: 5px;
  --arrow-height: 80px;
  --arrow-color: #fff;
  /* --arrow-direction: 180deg; */
  --head-width: 30px;
  --head-height: 40px;
  --head-radius: 15px;
  --body-width: 5px;

  width: var(--arrow-container-width);
  height: var(--arrow-height);
  background-color: transparent;
  gap: var(--arrow-gap);
  /* transform: rotate(var(--arrow-direction)); */
  /* centrado de la flecha */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrow-container.down {
  transform: rotate(180deg);
}

.arrow-container.up {
  transform: rotate(0deg);
}

.arrow-container.right {
  transform: rotate(90deg);
}

.arrow-container.left {
  transform: rotate(-90deg);
}

.arrowhead {
  width: var(--head-width);
  height: var(--head-height);
  background-color: var(--arrow-color);

  /* cada punto es un eje x */
  clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

.arrowbody {
  width: var(--body-width);
  height: 100%;
  background-color: var(--arrow-color);
}
